{
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-redeclare": 1,
        "no-empty": 1,
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}]
    },
    "env": {
        "node": true
    },
    "extends": "eslint:recommended"
}