extends layout

block content
	div.row
		div.col-lg-12
			h1.page-header Dashboard


	div.row
		div.col-lg-12
			div.panel.panel-default
				div.panel-heading
					i.fa.fa-sitemap.fa-fw
					|Notifications Panel
				div.panel-body
					div.list-group
						each website in websites
							a.list-group-item(href="/website/" + website.bindings[0])
								i.fa.fa-warning.fa-fw
								=website.name
								span.pull-right.text-muted.small
									em=((website.process.running) ? 'started' : 'stopped')